
<h1>セットリスト</h1>

<em>aaa</em>

<%= form_for(@setlist, :url => make_setlist_index_path, :html => {}) do |f| %>

<h2>セットリスト作成条件</h2>

曲数
<%= f.select :number_of_songs, [5,6,7,10] %>

ジョージ曲数
<%= f.select :number_of_george, [5,6,7,10] %>

リンゴ曲数
<%= f.select :number_of_ringo, [5,6,7,10] %>

<input type="button" name="make" value="作成">

<% @musics.each do |music| %>
  <a href="#"><%=music.title%></a>
<% end %>

<% end %>
