<!DOCTYPE html>
<html>
<head>
  <title>Epstein</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<body onload="<%=@onload%>">
<div id="top"/>

<% active_setlist = "" %>
<% active_musics = "" %>

<% if request.path_info.index("/setlist") != nil %>
  <% active_setlist = "active" %>
<% elsif request.path_info.index("/musics") != nil %>
  <% active_musics = "active" %>
<% end %>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid" style="width: auto;">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to 'EPSTEIN', mainmenu_index_path, { :class => 'brand' } %>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="<%=active_setlist%>"><%= link_to 'セットリスト作成', setlist_index_path %></li>
          <li class="<%=active_musics%>"><%= link_to '楽曲管理', musics_path %></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </div><!-- /navbar-inner -->
</div><!-- /navbar -->

<br/>
<br/>
<br/>

<%= yield %>


</body>
</html>
